* {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}
body {
  min-width: 100%;
  background-color: #f7f7f7;
}
.manual {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid black;
  background-color: #0b162ae3;
  display: flex;
}
.educ {
  width: 45px;
  margin-left: 10px;
}
.bravo {
  margin-left: 50px;
  margin-bottom: 50px;
}

.gil {
  text-align: center;
}

ul {
  padding: 15px;
}

.imagem {
  width: 130%;
  height: 500px;
  background: url("../img/photo-education-concept.jpg");
  padding: 100;
}

.borda {
  border: solid 1px black;
}

.texto {
  position: absolute;
  color: rgba(255, 255, 255, 0.815);
  text-align: center;
  top: 190px;
  width: 250px;
  line-height: 30px;
  height: 30px;
  margin-left: 170px;
}
.caixa {
  display: flex;
  justify-content: center;
}
h2 {
  background-color: rgba(0, 0, 0, 0.5);
}
.espaço {
  padding: 30px;
  text-align: justify;
  text-align: left;
  width: 80%;
}
h3 {
  margin-top: 30px;
  margin-left: 30px;
}

.sai {
  margin-top: 10px;
  padding: 30px;
  text-align: justify;
  text-align: left;
  
}
.conteiner {
  border: solid 20px #263041;
  margin: 0;
  font-size: 13px;
}
.add {
  text-align: center;
  text-align: left;
  padding: 50px;
}
.ratata {
  display: flex;
  margin-left: 60%;

  margin-top: 5px;
}
.ataca {
  display: flex;
  font-size: 15px;
  text-align: center;
  padding: 4px;
  margin-left: 50px;
  color: #deca54;
}
.yon {
  text-align: center;
  text-align: left;
  padding-right: 50px;
  display: flex;
}
.tarara {
  width: 60%;
  margin-left: 60px;
  align-items: center;
}
.why {
  margin-bottom: 20px;
  text-align: center;
}
.atacadao {
  text-align: center;
  text-align: left;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}
.caminho {
  text-align: center;

  margin-top: 10px;
}
.video {
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
}
.ataca:hover {
  background-color: #1f2c3dc0;
  cursor: pointer;
  margin-top: -15px;
}
.rato {
  margin-left: 160px;
  margin-top: 50px;

  margin-right: 100px;
}
.acampamento {
  margin-left: 100px;
  text-align: center;
  padding-right: 200px;
  margin-right: 210px;
  padding-right: 100px;
  font-size: 0.9rem;
  margin-bottom: 100px;
}
.muita {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
}
.carara {
  width: 90px;
  margin-left: 200px;
  margin-top: 30px;
}
.carara:hover {
  border-radius: 100%;

  background-color: #deca54;
}
.dor {
  height: 140px;
  margin-right: 300px;
  margin-left: 40px;

  width: 30%;
  margin-top: 15px;
}
.dor:hover {
  border-radius: 100%;
  background-color: #deca54;
}
.toqui {
  flex-direction: column;
}
.gacha {
  margin-right: 300px;
  margin-bottom: 30px;
}
.son {
  padding-right: 300px;
  text-align: center;
  font-size: 0.9rem;
}
.yui {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #deca54;
}
.man {
  position: fixed;
  width: 100%;

  top: 0%;
}
img {
  width: 100%;
}
.maisv {
  display: none;
}
.educaçao {
  display: none;
}

.numero {
  font-size: 20px;
}
.aka {
  display: flex;
}
.autune {
  margin-left: 60px;
}
.caçamba {
  border: solid 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 60px;
}
.ods {
  display: none;
}

@media screen and (min-width: 1700px) {
  .caixa {
    justify-content: center;
    display: flex;
    margin-left: 10%;
  }
  .espaço {
    width: 20%;
    padding-top: 20px;
  }

  .ratata {
    margin-left: 80%;
  }
  .imagem {
    width: 20%;
    height: 383px;
    margin-left: 100px;
    height: 500px;
  }
  .sai {
    margin-left: 260px;
    text-align: right;
    margin-right: 150px;
    padding-right: 80px;
    padding-right: 100px;
    padding: 0;
  }
  .educaçao {
    display: block;
    width: 80%;
    margin-left: 30px;
  }
  ul {
    margin-bottom: 20px;
  }
  .autune {
    margin-right: 100px;
  }
  .video {
    justify-content: space-between;
  }
  .maisv {
    display: block;
  }
  .acampamento {
    margin-left: 616px;
  }
  .son {
    padding-right: 632px;
  }
  .gacha {
    margin-left: 119px;
  }
  .dor {
    width: 20%;
    margin-left: 140px;
  }
  .carara {
    margin-left: 780px;
  }
  .rato {
    margin-left: 704px;
  }
  .conteiner {
    font-size: 20px;
  }
  .off {
    width: 40%;
  }
  .ods {
    display: block;
  }
}
@media screen and (min-width: 450px) and (max-width: 1000px) {
  .video {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .conteiner {
    width: 310%;
  }
  .manual {
    width: 100%;
  }
  .ratata {
    margin-left: 50%;
  }
  .caixa {
    display: block;
    margin-top: 50px;
  }
  .espaço {
    padding-left: 20%;
    text-align: left;
    width: 60%;
  }
  .conteiner {
    font-size: 30px;
    border: none;
  }
  .hi {
    text-align: center;
    margin-top: 90px;
  }
  .imagem {
    margin: 0 auto;
    width: 60%;
  }
  .sai {
    width: 70%;
    text-align: left;
    margin-left: 15%;
    margin-top: 60px;
  }
  .uia {
    margin-left: 10%;
  }

  .texto {
    position: relative;
    top: 84px;
  }

  .aka {
    display: block;
  }

  .tarara {
    margin-left: 20%;
  }
  .hate {
    margin-left: 150px;
  }

  .autune {
    margin-left: 150px;
  }
  .muita {
    display: block;
  }
  .toqui {
    display: block;
  }
  .carara {
    margin-left: 50%;
  }
  .rato {
    text-align: center;
  }
  .acampamento {
    margin-left: 320px;
    font-size: 30px;
  }
  .dor {
    width: 5%;
    margin-left: 49%;
  }

  .gacha {
    margin-left: 45%;
    margin-right: 35%;
  }
  .son {
    margin-left: 300px;
    font-size: 30px;
  }
  .numero {
    font-size: 50px;
  }
}
@media screen and (min-width: 300px) and (max-width: 450px) {
  body {
    width: 200%;
  }

  .video {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .conteiner {
    width: 70%;
  }
  .manual {
    width: 100%;
  }
  .ratata {
    margin-left: 150px;
  }
  .caixa {
    display: block;
    margin-top: 50px;
  }
  .espaço {
    padding-left: 30%;
    text-align: left;
    width: 90%;
  }
  .conteiner {
    font-size: 30px;
    border: none;
  }
  .hi {
    margin-left: 50%;
    margin-top: 90px;
  }
  .imagem {
    margin-left: 20%;
    width: 120%;
  }
  .sai {
    width: 90%;
    text-align: left;
  padding-left: 28%;
    margin-top: 60px;
    text-align: left;
  }
  .uia {
    margin-left: 15%;
    width: 90%;
  }

  .texto {
    position: relative;
    top: 84px;
  }

  .aka {
    display: block;
  }

  .tarara {
    margin-left: 20%;
    width: 90%;
    margin-top: 50px;
  }
  .hate {
    margin-left: 150px;
  }
  .borda {
    border: none;
  }

  .autune {
    margin-left: 150px;
  }
  .muita {
    display: block;
  }
  .toqui {
    display: block;
  }
  .carara {
    margin-left: 58%;
  }
  .rato {
    text-align: center;
  }
  .acampamento {
    margin-left: 25%;
    font-size: 30px;
    padding-right: 0px;
    margin-right: 0;
    width: 90%;
  }
  .dor {
    width: 25%;
    margin-left: 57%;
  }

  .gacha {
    margin-left: 45%;
    margin-right: 35%;
  }
  .son {
    margin-left: 25%;
    font-size: 30px;
    padding-right: 0;
    width: 90%;
  }
  .numero {
    font-size: 50px;
  }
  .why {
    margin-left: 40%;
  }
  .atacadao {
    padding-left: 20%;
    width: 105%;
    text-align: left;
    
  }
  .caminho {
    margin-left: 20%;
  }

  .rato {
    margin-left: 40%;
    text-align: initial;
  }
  .gil {
    margin-left: 40%;
  }
  .caminho {
    margin-left: 40%;
  }
  .video {
    display: block;
  }
  .autune {
    margin-top: 10%;
    margin-left: 20%;
  }
  .hate {
    margin-top: 10%;
    margin-left: 20%;
  }
  .yon{
    width: 536px;
  }
}
